@import 'cartes';


$background-color: #279527;
$border-color: lightgrey;
$background-color-page: lighten($background-color, 10%); /* Utilisation de lighten() pour éclaircir la couleur de fond */


body {
    margin: 0;
  }


.Tapis {
  display: flex;
  background-color: $background-color;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.zone-de-jeu {
  width: 800px;
  height: 600px;
  border-radius: 60px;
  background-color: $background-color-page; /* Utilisation de la couleur éclaircie pour l'arrière-plan */
  border: 5px solid $border-color; /* Bordure de 5 pixels en gris clair */
}
